<body class="d-flex flex-column min-vh-100">
  <div class="container">
    <div class="container">
      <h3 class="">
        <%= category.title == null ? '' : category.title %>
      </h3>
      <p class="text-muted">
        <span">
          <%= category.description %>
        </span>
      </p>
    </div>
    <% if (thread !== null) { %>
      <% thread.forEach(thread => { %>
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title"><%= thread.title %></h5>
            <a href="/<%= thread.slug %>" class="btn btn-primary text-decoration-none">Read More</a>
            <form class="d-inline" action="/<%= thread.slug %>/new/<%= thread.id %>?_method=DELETE" method="POST">
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
          </div>
        </div>
      <% }) %> 
    <% } %> 
  </div>
</body>