<body class="d-flex flex-column min-vh-100">
  <div class="container">
    <% category.forEach(cat => { %>
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title"><%= cat.title %></h5>
          <h6 class="card-subtitle mb-2 text-muted">
            <%= cat.createdAt.toLocaleDateString() %> 
          </h6>
          <p class="card-text">
            <%= cat.description %> 
          </p>
          <a href="/<%= cat.slug %>" class="btn btn-primary text-decoration-none">Read More</a>
          <form class="d-inline" action="/<%= cat.slug %>/new/<%= cat.id %>?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </div>
      </div>
    <% }) %> 
  </div>
</body>
